.THIS .sc-axis-label {
    color: #bfbebe;
}
.THIS .sc-axis-value {
    color: white;
    font-size: 13px;
}
.THIS .sc-tooltip {
    background: #2c2b2b;
    box-shadow: 0 0 5px #999999;
    color: white;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    text-align: left;
    z-index: 10;
}
.THIS .sc-threshold-line {
    fill: none;
    stroke: #c23934;
    stroke-width: 0.5px;
    stroke-dasharray: 5 5;
    pointer-events: none;
}
.THIS .sc-threshold-text {
    fill: #ffffff;
    pointer-events: none;
}
.THIS .sc-threshold-background {
    fill: #c23934;
    pointer-events: none;
}
.THIS .sc-threshold-triangle {
    fill: #c23934;
    pointer-events: none;
}
.THIS .sc-axis path,
.THIS .sc-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.THIS .sc-axis-text {
    font: 10px sans-serif;
    fill: #4d4d4d;
}
.THIS .sc-section:hover {
    fill: #4682b4;
}
/* PIE DONUT CHART */
.THIS .sc-pdc-section-percent {
    color: #c6c663;
    font-size: 12px;
}
.THIS .sc-pdc-legend {
    font-size: 12px;
    letter-spacing: .0625rem;
}
.THIS rect {
    stroke-width: 2;
}
.THIS .sc-position--static {
    position: static;
}
.THIS .sc-position--relative {
    position: relative;
}
.THIS .sc-position--absolute {
    position: absolute;
}
.THIS .sc-position--fixed {
    position: fixed;
}
.THIS .sc-position--relative {
	position: relative;
}
.THIS .sc-position--fixed {
	position: fixed;
}
.THIS .sc-position--static {
	position: static;
}
.THIS .sc-position--absolute {
	position: absolute;
}
.THIS .sc-hidden {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: -9999;
    left: -999999px;
    left: -999vw;
    pointer-events: none;
}
.THIS .overflow-visible {
    overflow: visible
}